Repository OriginProtocol/origin, pull requests merged in 2018-11, with the labels that each got.

#890 Implement Hidden/Featured listings in Apollo
  .gitignore
  development/envfiles/origin-discovery.env
  docker-compose.yml
  ipfs-proxy/package-lock.json
  origin-dapp/package.json
  origin-dapp/src/actions/Listing.js
  origin-dapp/src/components/app.js
  origin-dapp/src/components/listing-card.js
  origin-dapp/src/components/listing-detail.js
  origin-dapp/src/components/listings-grid.js
  origin-dapp/src/components/search/search-result.js
  origin-dapp/src/reducers/Listings.js
  origin-dapp/src/utils/listing.js
  origin-discovery/src/apollo/app.js
  origin-discovery/src/apollo/db.js
  origin-discovery/src/apollo/listing-metadata.js
  origin-discovery/src/apollo/resolvers.js
  origin-discovery/src/apollo/schema.js
  origin-discovery/src/lib/search.js
  origin-discovery/test/apollo-resolvers.test.js
  origin-js/src/services/discovery-service.js
Labels: feature, search

#906 Add tests for reading listings from backend
  origin-discovery/package-lock.json
  origin-discovery/package.json
  origin-discovery/test/apollo-search.test.js
Labels: testing

#923 Add more docker volume mappings
  docker-compose.yml
Labels: devops

#969 Notification Analytics
  origin-dapp/public/sw.js
  origin-dapp/public/swAnalytics.js
  origin-dapp/src/components/onboarding.js
  origin-dapp/src/services/analytics.js
  origin-dapp/src/utils/notifications.js
  origin-notifications/src/app.js
Labels: notifications

#975 Smaller welcome message on mobile devices
  origin-dapp/public/images/caret-down.svg
  origin-dapp/public/images/caret-up.svg
  origin-dapp/src/components/badges.js
  origin-dapp/src/components/warning.js
  origin-dapp/src/css/app.css
Labels: dapp, enhancement
