Repository OriginProtocol/origin, pull requests merged in 2019-05, with the labels that each got.

#2154 add the ability to use the latest block number from an event
  infra/discovery/package.json
  infra/discovery/src/listener/README.md
  infra/discovery/src/listener/listener.js
  infra/discovery/src/listener/utils.js
  packages/event-cache/src/EventCache.js
  packages/event-cache/src/backends/AbstractBackend.js
Labels: listener

#2191 fixes problem where lastIndexedBlock was trailing
  packages/event-cache/src/EventCache.js
Labels: bug, listener

#2193 async and non-async function mix issue
  packages/event-cache/src/EventCache.js
  packages/event-cache/src/backends/AbstractBackend.js
  packages/eventsource/src/index.js
  packages/graphql/test/index.js
Labels: bug, listener

#2200 Data Concistency Checker
  infra/discovery/src/listener/tools/README.md
  infra/discovery/src/listener/tools/consistency/ident.js
  infra/discovery/src/listener/tools/consistency/listing.js
  infra/discovery/src/listener/tools/consistency/offer.js
  infra/discovery/src/listener/tools/consistency/utils.js
  infra/discovery/src/listener/tools/consistencyChecker.js
Labels: enhancement, identity, indexing, listener

#2225 Listener debugging
  infra/discovery/src/listener/handler_identity.js
Labels: listener

#2228 Fix to debug and disables graphql cache for the listener
  infra/discovery/src/listener/handler.js
  infra/discovery/src/listener/queries/Identity.js
  packages/graphql/src/index.js
Labels: bug, listener

#2234 reverts c9280a2
  packages/event-cache/src/EventCache.js
Labels: javascript

#2238 Notifications case fix & logging
  infra/notifications/src/dupeTools.js
  infra/notifications/src/emailSend.js
  infra/notifications/src/mobilePush.js
  infra/notifications/src/models/notificationlog.js
  infra/notifications/test/fixtures/Message-2recievers.json
  infra/notifications/test/fixtures/Message-no-id-sender.json
Labels: notifications

#2217 adds scripts for triggering test events IdentityUpdated and OfferCreated
  infra/discovery/src/listener/tools/README.md
  infra/discovery/src/listener/tools/triggerIdentityUpdated.js
  infra/discovery/src/listener/tools/triggerOfferCreated.js
Labels: javascript, listener, testing

#2266 add useful IDs to consistencyChecker output
  infra/discovery/src/listener/tools/consistency/ident.js
  infra/discovery/src/listener/tools/consistency/listing.js
  infra/discovery/src/listener/tools/consistency/offer.js
Labels: listener

#2302 fixes clean-package-locks.sh for new package structure
  scripts/clean-package-locks.sh
Labels: bug, dev environment, devops

#2289 Performance mode
  dapps/marketplace/src/pages/settings/Settings.js
  dapps/marketplace/src/queries/Config.js
  devops/dockerfiles/origin-graphql
  devops/kubernetes/charts/origin/templates/_helpers.tpl
  devops/kubernetes/charts/origin/templates/graphql.deployment.yaml
  devops/kubernetes/charts/origin/templates/graphql.ingress.yaml
  devops/kubernetes/charts/origin/templates/graphql.secret.yaml
  devops/kubernetes/charts/origin/templates/graphql.service.yaml
  devops/kubernetes/values/origin/values-dev.yaml
  devops/kubernetes/values/origin/values-prod.yaml
  devops/kubernetes/values/origin/values-staging.yaml
  docker-compose.yml
  packages/graphql/fixtures/populate-server.js
  packages/graphql/package.json
  packages/graphql/server.js
  packages/graphql/src/configs/docker.js
  packages/graphql/src/configs/localhost.js
  packages/graphql/src/configs/localsecure.js
  packages/graphql/src/configs/mainnet.js
  packages/graphql/src/configs/origin.js
  packages/graphql/src/configs/rinkeby.js
  packages/graphql/src/configs/test.js
  packages/graphql/src/configs/truffle.js
  packages/graphql/src/contracts.js
  packages/graphql/src/link.js
  packages/graphql/src/links/remoteSchema.js
  packages/graphql/src/links/remoteSchemaLink.js
  packages/graphql/src/mutations/web3/setNetwork.js
  packages/graphql/src/server.js
  packages/graphql/src/typeDefs/Attestations.js
  packages/graphql/src/typeDefs/Common.js
  packages/graphql/src/typeDefs/Growth.js
  packages/graphql/src/typeDefs/Identity.js
  packages/graphql/src/typeDefs/Marketplace.js
  packages/graphql/src/typeDefs/Web3.js
  packages/graphql/src/typeDefs/Web3Common.js
  packages/graphql/src/typeDefs/index.js
  packages/graphql/src/typeDefs/remote.js
Labels: devops, enhancement, feature, graphql, javascript

#2329 enables perfmode for all networks by defualt
  packages/graphql/src/configs/docker.js
  packages/graphql/src/configs/mainnet.js
  packages/graphql/src/configs/origin.js
  packages/graphql/src/configs/rinkeby.js
Labels: graphql

#2349 Consistent AvatarUrls
  packages/graphql/src/resolvers/IdentityEvents.js
Labels: graphql

#2350 Disables performance mode for docker network and listener, with some docker config fixes
  docker-compose.yml
  infra/discovery/src/listener/listener.js
  packages/graphql/src/configs/docker.js
  packages/graphql/src/server.js
Labels: graphql, listener

#2334 Settings page design changes
  dapps/marketplace/public/images/keyboard-arrow-down-material.svg
  dapps/marketplace/public/translations/de_DE.json
  dapps/marketplace/public/translations/el_GR.json
  dapps/marketplace/public/translations/es_ES.json
  dapps/marketplace/public/translations/fil_PH.json
  dapps/marketplace/public/translations/fr_FR.json
  dapps/marketplace/public/translations/hr_HR.json
  dapps/marketplace/public/translations/id_ID.json
  dapps/marketplace/public/translations/it_IT.json
  dapps/marketplace/public/translations/ja_JP.json
  dapps/marketplace/public/translations/ko_KR.json
  dapps/marketplace/public/translations/nl_NL.json
  dapps/marketplace/public/translations/pt_PT.json
  dapps/marketplace/public/translations/ro_RO.json
  dapps/marketplace/public/translations/ru_RU.json
  dapps/marketplace/public/translations/th_TH.json
  dapps/marketplace/public/translations/tr_TR.json
  dapps/marketplace/public/translations/uk_UA.json
  dapps/marketplace/public/translations/vi_VN.json
  dapps/marketplace/public/translations/zh_CN.json
  dapps/marketplace/public/translations/zh_TW.json
  dapps/marketplace/src/components/CurrencyDropdown.js
  dapps/marketplace/src/components/LocaleDropdown.js
  dapps/marketplace/src/components/Toggle.js
  dapps/marketplace/src/pages/settings/Settings.js
  dapps/marketplace/translation/crowdin/all-messages.json
  packages/graphql/src/typeDefs/Web3.js
Labels: dapp, ui/ux

#2310 Remove deprecated avatar writes from DAPP
  dapps/marketplace/src/pages/identity/mutations/DeployIdentity.js
  dapps/marketplace/src/pages/onboard/Profile.js
  dapps/marketplace/src/pages/user/Profile.js
  dapps/marketplace/src/pages/user/_EditModal.js
  packages/graphql/src/typeDefs/Identity.js
  packages/validator/src/schemas/profile_2.0.0.json
Labels: dapp

#2359 fixes Mutation refetch on Settings page in marketplace dapp.
  dapps/marketplace/src/pages/settings/Settings.js
Labels: bug, dapp, graphql

#2362 Some caching tinkering
  packages/eventsource/src/index.js
  packages/graphql/src/resolvers/Listing.js
Labels: graphql

#2371 Option to disable eventsource caching
  packages/eventsource/src/index.js
Labels: eventsource, graphql

#2356 Simple logformatter package to format JSON logs from gcloud
  devops/packages/logformatter/README.md
  devops/packages/logformatter/package.json
  devops/packages/logformatter/src/cli.js
  devops/packages/logformatter/src/index.js
Labels: devops

#2376 Lowers graphql cache to 15s for Marketplace.listing resolver
  packages/graphql/src/resolvers/Marketplace.js
Labels: graphql

#2383 Metrics provider and some other minor stuff
  DEVELOPMENT.md
  packages/graphql/README.md
  packages/graphql/package.json
  packages/graphql/src/configs/mainnet.js
  packages/graphql/src/contracts.js
  packages/graphql/src/server.js
  packages/graphql/src/utils/metricsProvider.js
  packages/graphql/webpack.config.js
Labels: graphql

#2384 Adds WEB3_PROVIDER_URL env var
  packages/graphql/README.md
  packages/graphql/src/contracts.js
Labels: graphql
