Repository OriginProtocol/origin, pull requests merged in 2019-07, with the labels that each got.

#2589 Geth upgrade and byzantium fork
  devops/kubernetes/charts/ethereum-network/templates/geth-genesis.configmap.yaml
  devops/kubernetes/charts/ethereum-network/values.yaml
Labels: devops, enhancement

#2595 Fixes local docker config for ProxyFactor
  packages/graphql/src/configs/docker.js
Labels: dev environment, devops, graphql, listener

#2600 Constantinople fork on dev eth network
  devops/kubernetes/charts/ethereum-network/templates/geth-genesis.configmap.yaml
Labels: dev environment, devops

#2617 normalize addresses before comparison in relayer
  infra/relayer/src/relayer.js
Labels: bug, relayer

#2620 Verify user proxy before sending transactions
  infra/relayer/src/relayer.js
  infra/relayer/test/purse.test.js
Labels: bug, relayer

#2621 Makes sure setLatestBlock is called for ProxyFactory contract
  packages/graphql/src/contracts.js
Labels: bug, listener

#2629 Resolve navigation button behaviour
  dapps/marketplace/src/pages/nav/Profile.js
Labels: bug, dapp

#2639 More Purse instrumentation
  infra/relayer/src/purse.js
Labels: relayer

#2641 Purse fixes
  infra/relayer/src/purse.js
Labels: bug, relayer

#2644 Purse duplicate funding transactions
  infra/relayer/src/purse.js
Labels: bug, relayer

#2654 www.shoporigin.co TLS config and addition of shoporigin.com
  devops/kubernetes/charts/origin/templates/dapp.ingress.yaml
Labels: devops

#2667 Purse: Improved error handling and logging
  infra/relayer/src/purse.js
Labels: bug, relayer

#2665 Relayer: One tx per proxy
  infra/relayer/src/purse.js
  infra/relayer/src/relayer.js
Labels: bug, relayer

#2672 Purse: Fixes logic for using @origin/web3-provider
  infra/relayer/src/purse.js
  infra/relayer/src/relayer.js
  infra/relayer/test/purse.test.js
  infra/relayer/test/relayer.test.js
  packages/graphql/src/contracts.js
  packages/web3-provider/src/subproviders/ThrottleRPCProvider.js
Labels: bug, relayer

#2691 Adds websocket provider for rinkeby
  packages/graphql/src/configs/rinkeby.js
Labels: graphql

#2599 Remove old file-based hidden/featured
  dapps/admin/src/pages/listings/Listings.js
  dapps/admin/src/pages/listings/_ListingsGallery.js
  dapps/admin/src/pages/listings/_ListingsList.js
  dapps/admin/src/queries/AllListings.js
  dapps/admin/src/queries/Fragments.js
  dapps/marketplace/src/components/ListingBadge.js
  dapps/marketplace/src/pages/listings/ListingCards.js
  dapps/marketplace/src/pages/listings/Listings.js
  dapps/marketplace/src/pages/user/_UserListings.js
  dapps/marketplace/src/queries/Fragments.js
  dapps/marketplace/src/queries/Listings.js
  infra/discovery/src/apollo/app.js
  infra/discovery/src/apollo/db.js
  infra/discovery/src/apollo/listing-metadata.js
  infra/discovery/src/apollo/resolvers.js
  infra/discovery/src/apollo/schema.js
  infra/discovery/src/lib/search.js
  infra/discovery/src/listener/queries/Fragments.js
  infra/discovery/test/apollo-search.test.js
  packages/graphql/src/resolvers/Listing.js
  packages/graphql/src/resolvers/marketplace/_featuredAndHidden.js
  packages/graphql/src/resolvers/marketplace/listings.js
  packages/graphql/src/typeDefs/Marketplace.js
  packages/graphql/test/_queries.js
  packages/graphql/test/index.js
Labels: dapp, discovery, graphql

#2649 Added note on how to start over with docker to DEVELOPMENT.md
  DEVELOPMENT.md
Labels: docs

#2700 Adds Sentry to Relayer
  infra/relayer/package.json
  infra/relayer/src/purse.js
  infra/relayer/src/relayer.js
  infra/relayer/src/sentry.js
  yarn.lock
Labels: relayer

#2713 Fixes issue with multiple proxy creation transactions
  infra/relayer/src/purse.js
  infra/relayer/src/relayer.js
  infra/relayer/test/purse.test.js
  infra/relayer/test/relayer.test.js
Labels: relayer

#2705 Relayer: Purse prometheus metrics
  devops/kubernetes/charts/origin-monitoring/templates/relayer.servicemonitor.yaml
  infra/relayer/src/app.js
  infra/relayer/src/prom.js
  infra/relayer/src/purse.js
Labels: relayer

#2742 Fixes edge case in proxy nonce revert error
  infra/relayer/src/relayer.js
Labels: bug, relayer

#2729 EthGasStationProvider
  packages/graphql/src/contracts.js
  packages/web3-provider/src/index.js
  packages/web3-provider/src/subproviders/EthGasStationProvider.js
  packages/web3-provider/src/subproviders/index.js
  packages/web3-provider/test/index.js
Labels: enhancement, web3-provider

#2747 Adds more data to Sentry
  infra/relayer/src/relayer.js
Labels: relayer

#2780 Adds some relayer debug scripts and consolidates
  infra/relayer/src/scripts/README.md
  infra/relayer/src/scripts/decode-tx.js
  infra/relayer/src/scripts/predict-address.js
  infra/relayer/src/scripts/relayer-stats.js
  infra/relayer/src/scripts/verify-sig.js
Labels: dev environment

#2781 Adds transaction count to prometheus stats
  infra/relayer/src/prom.js
  infra/relayer/src/purse.js
Labels: relayer

#2782 Fixes a relayer dupe issue causing all relays to 429
  infra/relayer/src/relayer.js
Labels: bug, relayer

#2784 EthGasStationProvider not forwarding
  packages/web3-provider/src/subproviders/EthGasStationProvider.js
Labels: bug, graphql, web3-provider

#2786 Use EthGasStationProvider on staging
  packages/graphql/src/contracts.js
Labels: web3-provider

#2789 Purse race prevention in account selection
  infra/relayer/src/purse.js
Labels: bug, relayer

#2800 fix email modal not closing when clicking cancel
  dapps/marketplace/src/pages/identity/EmailAttestationModal.js
Labels: bug, dapp

#2816 Disables web3-provider in WebViews
  packages/graphql/src/contracts.js
Labels: P2, bug, graphql, mobile, web3-provider

#2818 dapp/graphql debugging for contract foolery
  packages/graphql/src/contracts.js
Labels: dapp, dev environment, graphql

#2829 Disable self-messaging
  dapps/marketplace/src/components/SendMessage.js
  infra/messaging/src/index.js
Labels: bug, dapp, messaging
