Repository OriginProtocol/origin, pull requests merged in 2019-06, with the labels that each got.

#2385 Better JSON-RPC error handling in MetricsProvider
  packages/graphql/package.json
  packages/graphql/src/utils/metricsProvider.js
  yarn.lock
Labels: graphql, listener

#2396 Simple PR for a cleaner error message in Marketplace event handler
  infra/discovery/src/listener/handler_marketplace.js
Labels: listener

#2403 Fixes issue with Alchemy and web3-provider-engine's eth_getBlockByNumber requests
  packages/graphql/package.json
  packages/graphql/src/utils/metricsProvider.js
  yarn.lock
Labels: graphql

#2435 Checks for blockNumber when waiting on tx to be mined
  dapps/marketplace/src/components/WaitForTransaction.js
Labels: dapp, transaction flow, ui/ux

#2431 JSON-RPC Throttling and retries
  packages/graphql/README.md
  packages/graphql/src/contracts.js
  packages/graphql/src/mutations/_txHelper.js
  packages/graphql/src/providers/MetricsProvider.js
  packages/graphql/src/providers/ThrottleRPCProvider.js
  packages/graphql/src/providers/index.js
  packages/graphql/test/index.js
Labels: enhancement, graphql, performance

#2439 Raises event emitters for web3-provider-engine
  packages/graphql/src/providers/index.js
Labels: graphql

#2469 Ability to prevent dapp start script from opening browser
  dapps/marketplace/index.js
Labels: dapp, dev environment, enhancement

#2470 Instrumentation!
  dapps/marketplace/src/components/Reviews.js
  dapps/marketplace/src/index.js
  dapps/marketplace/src/pages/listing/ListingDetail.js
  dapps/marketplace/src/pages/user/User.js
  packages/eventsource/src/index.js
  packages/graphql/src/resolvers/Marketplace.js
  packages/graphql/src/resolvers/User.js
  packages/graphql/src/utils/apolloPathToString.js
Labels: dapp, eventsource, graphql

#2447 Relayer account abstraction
  .circleci/config.yml
  dapps/marketplace/package.json
  dapps/marketplace/test/setup.js
  infra/relayer/package.json
  infra/relayer/src/purse.js
  infra/relayer/src/relayer.js
  infra/relayer/src/util.js
  infra/relayer/test/const.js
  infra/relayer/test/purse.test.js
  infra/relayer/test/relayer.test.js
  infra/relayer/test/setup.js
  infra/relayer/test/utils.js
  packages/graphql/fixtures/populate-server.js
  packages/graphql/fixtures/populate.js
  packages/graphql/src/utils/mnemonicToAccount.js
  packages/services/index.js
Labels: relayer

#2474 Fixes missing infra/identity from bridge container
  devops/dockerfiles/origin-relayer
Labels: bridge, devops

#2487 Fixes improperly formatted RPC requests made in Purse
  infra/relayer/src/util.js
Labels: bug, relayer

#2488 upgrades go-ipfs to v0.4.21
  devops/kubernetes/charts/origin/values.yaml
Labels: devops, ipfs

#2497 Fixes IPFS container issue
  devops/kubernetes/charts/origin/templates/ipfs.statefulset.yaml
Labels: devops, ipfs

#2498 adds missing dependency superagent for infra/ipfs-proxy
  infra/ipfs-proxy/package.json
  yarn.lock
Labels: devops, ipfs

#2502 Purse error handling improvements and gas limit raised
  infra/relayer/migrations/20190620211348-enum-add-gaslimit.js
  infra/relayer/src/enums.js
  infra/relayer/src/purse.js
  infra/relayer/src/relayer.js
Labels: relayer

#2459 [Discovery] Listing moderation tool
  dapps/admin/README.md
  dapps/admin/src/pages/listings/Listing.js
  dapps/admin/src/pages/listings/_EditScoring.js
  dapps/admin/src/pages/listings/_EnsureModerator.js
  dapps/admin/src/utils/discovery.js
  devops/kubernetes/charts/origin/templates/discovery.ingress.yaml
  docker-compose.yml
  infra/discovery/devops/es-cli.js
  infra/discovery/migrations/20190610140811-discovery_tag_action.js
  infra/discovery/migrations/20190611185659-create-discovery-access-token.js
  infra/discovery/src/apollo/README.md
  infra/discovery/src/apollo/app.js
  infra/discovery/src/apollo/resolvers.js
  infra/discovery/src/apollo/schema.js
  infra/discovery/src/lib/scoring.js
  infra/discovery/src/lib/search.js
  infra/discovery/src/listener/handler_marketplace.js
  infra/discovery/src/models/discoveryaccesstoken.js
  infra/discovery/src/models/discoverytagaction.js
Labels: discovery

#2505 Log a re-broadcast error in Purse
  infra/relayer/src/purse.js
Labels: relayer

#2506 Fixes migration revert error in relayer
  infra/relayer/migrations/20190620211348-enum-add-gaslimit.js
Labels: relayer

#2510 Child funding changes
  infra/relayer/package.json
  infra/relayer/src/purse.js
Labels: bug, relayer

#2530 Purse debugging and fixes
  infra/relayer/src/purse.js
  infra/relayer/test/purse.test.js
Labels: bug, relayer

#2534 Purse: Fixes nonce recovery from redis type issues
  infra/relayer/src/purse.js
  infra/relayer/test/purse.test.js
Labels: bug, relayer

#2536 Purse: Quick fix
  infra/relayer/src/purse.js
Labels: bug, relayer

#2532 Creates @origin/web3-provider package
  .circleci/config.yml
  packages/graphql/package.json
  packages/graphql/src/contracts.js
  packages/web3-provider/package.json
  packages/web3-provider/src/index.js
  packages/web3-provider/src/subproviders/MetricsProvider.js
  packages/web3-provider/src/subproviders/ThrottleRPCProvider.js
  packages/web3-provider/src/subproviders/index.js
  packages/web3-provider/test/index.js
  packages/web3-provider/test/setup.js
  yarn.lock
Labels: enhancement, graphql, javascript

#2541 Fixes docker issues for web3-provider package
  Dockerfile
  devops/dockerfiles/event-listener
  devops/dockerfiles/origin-admin
  devops/dockerfiles/origin-cron
  devops/dockerfiles/origin-dapp
  devops/dockerfiles/origin-dapp-creator-client
  devops/dockerfiles/origin-discovery
  devops/dockerfiles/origin-graphql
  devops/dockerfiles/origin-growth
  devops/dockerfiles/origin-notifications
  docker-compose.yml
Labels: bug

#2547 Purse: nonce persistence fixes
  infra/relayer/src/purse.js
Labels: bug, relayer

#2525 Adds unique id to E-mail notifications for messages
  infra/messaging/migrations/20190625030841-add-content-hash.js
  infra/messaging/package.json
  infra/messaging/src/index.js
  infra/messaging/src/models/message.js
  infra/notifications/src/emailSend.js
  infra/notifications/templates/emailTemplate.html
  infra/notifications/templates/emailTemplate.txt
Labels: enhancement, messaging

#2564 fixes column name in migration
  infra/messaging/migrations/20190625030841-add-content-hash.js
Labels: bug, messaging

#2565 Fixes origin-relayer Dockerfile
  devops/dockerfiles/origin-relayer
Labels: bug, devops, relayer

#2567 adds prom-client to relayer deps
  infra/relayer/package.json
  yarn.lock
Labels: bug, devops, relayer

#2571 GiftCardListing should be multiUnit
  packages/eventsource/src/index.js
Labels: bug, graphql
