Repository OriginProtocol/origin, pull requests merged in 2019-08, with the labels that each got.

#2790 Repackages consistency checker and adds support for proxy contracts
  infra/consistency/README.md
  infra/consistency/package.json
  infra/consistency/src/index.js
  infra/consistency/src/logger/index.js
  infra/consistency/src/validators/ident.js
  infra/consistency/src/validators/listing.js
  infra/consistency/src/validators/offer.js
  infra/consistency/src/validators/utils.js
  infra/discovery/src/listener/tools/README.md
  infra/discovery/src/listener/tools/consistencyChecker.js
Labels: dev environment, devops

#2597 PostgreSQLBackend fixes for event-cache
  docker-compose.yml
  packages/event-cache/migrations/20190703025936-add-event-prefix.js
  packages/event-cache/migrations/20190705152855-add-event-id.js
  packages/event-cache/src/EventCache.js
  packages/event-cache/src/backends/AbstractBackend.js
  packages/event-cache/src/backends/PostgreSQLBackend.js
  packages/event-cache/src/models/event.js
  packages/event-cache/src/pgconfig.js
  packages/event-cache/test/postgres.js
  packages/eventsource/src/index.js
  packages/graphql/src/contracts.js
Labels: enhancement, event-cache, listener

#2852 consistency+cron=<3
  infra/consistency/.eslintrc.js
  infra/consistency/src/index.js
  infra/consistency/src/logger/index.js
  infra/consistency/src/validators/ident.js
  infra/consistency/src/validators/listing.js
  infra/consistency/src/validators/offer.js
  infra/consistency/src/validators/utils.js
  infra/cron/package.json
  infra/cron/src/jobs/consistency.js
  infra/cron/src/scheduler.js
  yarn.lock
Labels: dev environment, devops, javascript, listener, testing

#2862 Dockerfile fixes for origin-cron
  devops/dockerfiles/origin-cron
Labels: devops

#2870 isValidContract validation update
  packages/graphql/src/contracts.js
Labels: graphql

#2866 Fixes fromBlock for consistency checker cron
  infra/cron/src/jobs/consistency.js
Labels: devops

#2877 Docker compose dependency fixes
  docker-compose.yml
Labels: dev environment

#2891 Make graphql wait on services container
  docker-compose.yml
Labels: bug, dev environment

#2892 Index proxies on local docker setup
  docker-compose.yml
Labels: dev environment

#2899 Fixes docker graphql config for proxy implementation
  packages/graphql/src/configs/docker.js
Labels: bug, dev environment

#2923 Sparrow dom/fix growth admin override
  infra/growth/src/apollo/app.js
  infra/growth/src/apollo/resolvers.js
Labels: bug, growth

#2917 Proxies and messaging
  dapps/marketplace/src/components/SendMessage.js
  dapps/marketplace/src/queries/CanConverseWith.js
  infra/messaging/package.json
  infra/messaging/src/index.js
  packages/graphql/src/resolvers/messaging/Messaging.js
  packages/graphql/src/typeDefs/Messaging.js
  packages/graphql/src/utils/proxy.js
Labels: bug, dapp, graphql, messaging

#2934 origin-messaging needs grpahql
  devops/dockerfiles/origin-messaging
Labels: devops, graphql, messaging

#2948 Local Docker services fix
  docker-compose.yml
  packages/graphql/src/configs/docker.js
Labels: bug, dev environment

#2955 ApolloEngine Support
  .circleci/config.yml
  packages/graphql/apollo.config.js
Labels: devops, graphql

#2897 Don't send notifications for key exchange messages
  infra/messaging/src/index.js
Labels: bug, messaging, notifications

#2989 GraphQLEngineSchemaCheck Fix
  .circleci/config.yml
Labels: dev environment, testing

#2986 Performance fix for identity card
  dapps/marketplace/src/hoc/withSkinnyIdentity.js
  dapps/marketplace/src/pages/nav/Profile.js
  dapps/marketplace/src/queries/SkinnyIdentity.js
  docker-compose.yml
  packages/graphql/fixtures/populate-server.js
  packages/graphql/src/configs/localsecure.js
  packages/services/index.js
Labels: dapp, graphql, performance

#3016 Proxy messaging bug
  dapps/marketplace/src/components/SendMessage.js
Labels: bug, dapp, messaging

#2993 IPFS port conflicts
  devops/kubernetes/charts/origin/templates/graphql.ingress.yaml
  devops/kubernetes/charts/origin/templates/graphql.service.yaml
  devops/kubernetes/charts/origin/templates/growth.deployment.yaml
  devops/kubernetes/charts/origin/templates/growth.ingress.yaml
  devops/kubernetes/charts/origin/templates/growth.service.yaml
  docker-compose.yml
Labels: dev environment, devops, graphql, growth, ipfs

#3085 geth upgrade, Constantinople and Petersburg
  devops/kubernetes/charts/ethereum-network/templates/geth-genesis.configmap.yaml
  devops/kubernetes/charts/ethereum-network/values.yaml
Labels: devops
